body{
    text-decoration: none;
    list-style: none;
    font-family:'Times New Roman', Times, serif;
background-color: rgb(39, 39, 122);
color: rgb(235, 235, 235);
}


.card{
    
    width: 1300px;
    height: 100px;
    background-color: rgba(255, 255, 255, 0.192);
    border-radius: 3px;
    border: 2px solid;
}

.flex{
    width: 99%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content:space-around;
    

}

#texto{


    padding: 30px;
    font-size: 17px;

}

input{

background-color: rgb(165, 165, 165);
padding: 2px;
font-family:'Times New Roman', Times, serif;
color: rgb(0, 0, 0);
font-size: 14px;
border-radius: 10px;


}

.botonescard{

width: 200px;
height: 30px;
background-color: rgb(34, 52, 153);
justify-content:space-around;
}

button{

    font-family:'Times New Roman', Times, serif;
    font-size: 20px;
    border-radius: 10px;
   color: aliceblue;

}




